<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="foodlist">

	<select id="list" resultType="foodListVO">
		SELECT sto_no
			   , sto_name
			   , sto_tel
			   , sto_loc
			   , sto_photo
			   , sto_comment
			   , average_price
			   , sto_thumbPhoto
		  FROM STORE
		 WHERE sto_gps_x between #{gps_x} - 1 AND #{gps_x} + 1
		   AND sto_gps_y between #{gps_y} - 1 and #{gps_y} + 1
	</select>
	
	<select id="detail" resultType="foodListVO">
		SELECT sto_no
			   , sto_name
			   , sto_tel
			   , sto_loc
			   , sto_gps_x
			   , sto_gps_y
		  FROM STORE
		 WHERE sto_no = #{sto_no}
	</select>
	
	<select id="menu" resultType="informationVO">
		SELECT menu_no
			   , menu_name
			   , menu_price
			   , menu_check
		  FROM menu
		 WHERE menu_no_sto = #{sto_no}
	</select>
</mapper>