<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="foodlist">

	<select id="list" resultType="foodListVO">
		SELECT sto_no
			   , sto_name
			   , sto_tel
			   , sto_loc
		  FROM STORE
<!-- 		 WHERE sto_gps_x -->
	</select>
	
	<select id="detail" resultType="foodListVO">
		SELECT sto_no
			   , sto_name
			   , sto_tel
			   , sto_loc
		  FROM STORE
		 WHERE sto_no = #{sto_no}
	</select>
</mapper>