<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="information">

    <insert id="stoInfo">
    	INSERT 
    	  INTO STORE
    		   (
				sto_name
				, sto_tel
				, sto_loc
				, sto_no_acc 
				, sto_gps_x
				, sto_gps_y
				, sto_comment
				, sto_photo
				, sto_thumbPhoto
    		   )
        VALUES (
        		#{sto_name}
        		, #{sto_tel}
        		, #{sto_loc}
        		, #{sto_no_acc}
        		, #{sto_gps_x}
        		, #{sto_gps_y}
        		, #{sto_comment}
        		, #{sto_photo}
        		, #{sto_thumbPhoto}
    		   )
    </insert>
    <insert id="tbInsert">
    	INSERT 
    	  INTO TB
    		   (
				sto_no_tb
				,tb_check
				,tb_maxTable
				,tb_curTable
    		   )
        VALUES (
				#{menu_no_sto}
				, 0
				, 0
				, 0
    		   )
    </insert>
    
    <update id="stoUpdate">
		UPDATE STORE 
		   SET sto_name = #{sto_name}, sto_tel = #{sto_tel}, sto_loc = #{sto_loc}, sto_gps_x = #{sto_gps_x}, sto_gps_y = #{sto_gps_y},
		   	   sto_comment = #{sto_comment}
		 WHERE sto_no = #{sto_no}
	</update>
    
    <select id="stoNo" resultType="int">
		SELECT sto_no
		  FROM STORE
		 WHERE sto_no_acc = #{sto_no_acc}
	</select>
    
    <insert id="menuInfo">
        INSERT 
    	  INTO menu
    		   (
				menu_no_sto
				, menu_name
				, menu_price
				, menu_check
    		   )
        VALUES (
				#{menu_no_sto}
				, #{menu_name}
				, #{menu_price}
				, #{menu_check}
    		   )
    </insert>
    
    <select id="selectStore" resultType="informationVO">
		SELECT sto_no
			   , sto_name
			   , sto_tel
			   , sto_loc
			   , sto_comment
			   , sto_gps_x
			   , sto_gps_y
		  FROM STORE
		 WHERE sto_no_acc = #{sto_no_acc}
	</select>
	
	<select id="selectMenu" resultType="informationVO">
		SELECT menu_no
			   , menu_name
			   , menu_price
			   , menu_check
		  FROM menu
		 WHERE menu_no_sto = #{sto_no}
	</select>
	
	<update id="averagePrice">
		UPDATE STORE 
		   SET STORE.average_price = (SELECT round(avg(menu_price), -3) 
		   								FROM menu 
		   							   WHERE menu.menu_no_sto = #{sto_no} and menu_check=1) 
		 WHERE store.sto_no = #{sto_no};
	</update>
    
    <select id="resInfo" resultType="reserveVO">
		SELECT res_no
			   , res_no_sto
			   , res_cur_time
			   , res_date
			   , res_time
			   , res_name
			   , res_people
			   , res_check
			   , sto_name
		  FROM reservation, store
		 WHERE res_no_acc = #{res_no_acc}
		   AND res_no_sto = sto_no
		   ORDER BY 1 DESC
	</select>
	
	<select id="resManage_no" resultType="int">
		SELECT sto_no
		  FROM store
		 WHERE sto_no_acc = #{sto_no_acc}
	</select>
	
	<select id="resManage" resultType="reserveVO">
		SELECT res_no
			   , res_no_acc
			   , res_cur_time
			   , res_date
			   , res_time
			   , res_name
			   , res_people
			   , res_check
		  FROM reservation
		 WHERE res_no_sto = #{res_no_sto}
	</select>
	
	<delete id="resCancel">
		DELETE FROM RESERVATION
		 WHERE res_no = #{res_no} and res_no_acc = #{res_no_acc}
	</delete>
	
	<update id="resCheck">
		UPDATE reservation 
		   SET res_check = #{res_check}
		 WHERE res_no = #{res_no}
	</update>
	
	<update id="tbUpdate">
		UPDATE TB
		   SET tb_curTable = tb_curTable + 1
		 WHERE tb.sto_no_tb = #{res_no_sto};   
	</update>
	
	<select id="maxTable" resultType="int">
		SELECT tb_maxTable
		  FROM TB
		 WHERE sto_no_tb = #{res_no_sto};
	</select>
	
	<update id="maxUpdate">
		UPDATE TB
		   SET tb_maxTable = #{tb_maxTable}
		 WHERE tb.sto_no_tb = #{res_no_sto};   
	</update>
	
	<select id="myReview" resultType="reviewVO">
		SELECT review_content
			   , review_star
			   , review_date
			   , review_tag
			   , sto_name
		  FROM review
		  	   , store
		 WHERE review_no_sto = sto_no
		   AND review_no_acc = #{review_no_acc} 
	</select>
</mapper>