<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.website.mapper.letterMapper">

	<insert id="write">
		INSERT 
		  INTO letter
		  		(
		  		 let_title
		  		 , let_content
		  		 , let_date 
		  		 , let_viewCnt
		  		) 
		VALUES 
				(
				 #{let_title}
				 , #{let_content}
				 , NOW()
				 , 0
				)
	</insert>
	
	<select id="view" resultType="LetterVO">
		SELECT let_no, let_title, let_content, let_date, let_viewCnt
		  FROM letter
		 WHERE let_no = #{let_no}
	</select>
	
	<update id="update">
		UPDATE letter 
		   SET let_title= #{let_title}, let_content = #{let_content}
		 WHERE let_no = #{let_no}
	</update>
	
	<delete id="delete">
		DELETE FROM letter 
		 WHERE let_no = #{let_no}
	</delete>
	
	
	<select id="list" resultType="letterVO">
			SELECT let_no, let_title, let_content, let_date, let_no_acc, let_photo
			  FROM letter 
	</select>
	
	<!-- 게시물 총 갯수 -->
	<select id="count" resultType="int">
		SELECT COUNT(let_no)
		  FROM letter
	</select>
	
	<!-- 게시물 목록 + 페이징 -->
	<select id="listPage" resultType="letterVO">
		SELECT let_no, let_title, let_content, let_date, let_no_acc, let_photo, let_viewCnt
		  FROM letter
	  ORDER BY let_no ASC
		 LIMIT #{displayPost}, #{postNum}
	</select>
	
	<!-- 게시물 조회수 증가 -->
	<update id="updateViewCnt">
		UPDATE letter
		   SET let_viewCnt = let_viewCnt + 1 
		 WHERE let_no = #{let_no}
	</update>
</mapper>
