<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
   
    <!-- 회원 가입 -->
    <insert id="signup">
    	INSERT 
    	  INTO ACCOUNT
    		   (
    			acc_id
    			, acc_pw
    			, acc_name
    			, acc_level
    			, acc_count
    			, acc_date
    		   )
        VALUES (
        		#{acc_id}
        		, #{acc_pw}
        		, #{acc_name}
        		, #{acc_level}
        		, 0
        		, now()
    		   )
    </insert>
    
    <insert id="store">
    	INSERT
    	  INTO STORE
    	       (
    	       	sto_name
    	       	, sto_tel
    	       	, sto_loc
    	       	, sto_gps_x
    	       	, sto_gps_y
    	       )
    	 VALUE (
    	 		#{sto_name}
        		, #{sto_tel}
        		, #{sto_loc}
        		, #{sto_gps_x}
        		, #{sto_gps_y}
    	 	   )     
    </insert>
    
	<select id="loginCheck" resultType="String">
		SELECT acc_name 
		  FROM ACCOUNT
		 WHERE acc_id = #{acc_id} 
		   AND acc_pw = #{acc_pw}
	</select>
	
	<select id="getMemberInfo" resultType="memberVO">
		SELECT acc_no
			   , acc_name
		       , acc_id
		       , acc_level 
		  FROM ACCOUNT
		 WHERE acc_id = #{acc_id} 
		   AND acc_pw = #{acc_pw}
	</select>
	
	<update id="loginUpdate">
		UPDATE ACCOUNT
		   SET acc_count = acc_count + 1 
		 WHERE acc_id = #{acc_id}
		   AND acc_pw =	#{acc_pw}
	</update>
	
	<update id="dateUpdate">
		UPDATE ACCOUNT
		   SET acc_date = now()
		 WHERE acc_id = #{acc_id}
		   AND acc_pw = #{acc_pw}  
	</update>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*)
		  FROM ACCOUNT
		 WHERE acc_id = #{acc_id}
	</select>	
</mapper>
