<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="review">

	<select id="noList" resultType="String">
		SELECT res_no
		  FROM RESERVATION
		 WHERE res_no_acc = #{review_no_acc}
		   AND res_no_sto = #{review_no_sto}
		   AND res_check = 1;
	</select>
	
	<select id="count" resultType="int">
		SELECT count(*)
		  FROM review
		 WHERE review_no_acc = #{review_no_acc}
		   AND review_no_sto = #{review_no_sto}

	</select>
</mapper>