<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="search">

	<select id="list" resultType="foodlistVO">
		SELECT sto_no
			   , sto_name
			   , sto_tel
			   , sto_loc
			   , sto_photo
			   , sto_comment
			   , average_price
			   , sto_thumbPhoto
			   , sto_gps_x
			   , sto_gps_y
		  FROM STORE
		 WHERE sto_loc 
		  LIKE CONCAT('%',#{search},'%')
		    OR sto_name
		  LIKE CONCAT('%',#{search},'%') 
	</select>
	
	<select id="search2" resultType="foodlistVO">
		SELECT sto_no
			   , sto_name
			   , sto_tel
			   , sto_loc
			   , sto_gps_x
			   , sto_gps_y
			   , sto_photo
		  FROM STORE
	  ORDER BY POWER(sto_gps_x - #{gps_x}, 2) + POWER(sto_gps_y - #{gps_y}, 2)
	  	   ASC 
	  	 LIMIT 1
	</select>
</mapper>