<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kr.website.member.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="kr.website.letter.vo.LetterVO" alias="letterVO"/>
		<typeAlias type="kr.website.foodlist.vo.foodListVO" alias="foodlistVO"/>
		<typeAlias type="kr.website.notice.vo.NoticeVO" alias="noticeVO"/>
		<typeAlias type="kr.website.information.vo.InformationVO" alias="informationVO"/>
		<typeAlias type="kr.website.reserve.vo.ReserveVO" alias="reserveVO"/>
	</typeAliases>
</configuration>
