<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10">
<title>국가대표빨래</title>
<link rel="stylesheet" href="../css/common.css">
<!--login 페이지만 해당 스타일시트 적용-->
<style>
	html, body { width: 100%; height: 100%; }
</style>
</head>
<body>

<section id="login">
    <div class="wrap">
        <h1><img src="../img/logo1.png" alt="로고"></h1>
        <ul>
            <li><label>아이디</label><input type="text"></li>
            
            <li><label>비밀번호</label><input type="password"></li>
        </ul>
        
        <input type="button" value="로그인">
        
        <h2><a href="sub4_join.html">회원가입</a></h2>
        <h2><a href="#">비밀번호를 잊으셨나요?</a></h2>
        
        <ol>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        
        <h3>회원가입약관 및 개인정보처리방침에 동의합니다.</h3>
    </div>
</section>

</body>
</html>